<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Name: {{todo.name}}
    </mat-panel-title>
    <mat-panel-description>
      Click me to {{panelOpenState ? 'closed' : 'open' }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="container">
  <p>Description: {{todo.description}}</p>
    <div class="buttons">
      <button mat-raised-button color="primary" (click)="edit()">Edit</button>
      <button mat-raised-button color="primary" (click)="delete()">Delete</button>
    </div>
  </div>
</mat-expansion-panel>
